.app{
  height: 100%;
}
header {
  background: var(--grey);
  padding: 30px;
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
}
nav a {
  text-decoration: none;
  color: white;
}

main {
  background-attachment: var(--green);
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 100%;
}
