body {
  margin: 0;
  box-sizing: border-box; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #0984e3;
  --white: #ffffff;
  
}

label {
  display: block;
}

.button {
  background-color: var(--accent);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4em;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
}

.button.full {
  width: 100%;
}

.button.primary {
  background: var(--primary)
}